## Ignore all files and folders
*
!.github/workflows/dotnetcore.yml
!.github/workflows/dotnetcore_pull_request.yml
!/**/

# root folder
!.gitignore
!LICENSE
!README.md
/**/Debug
/**/Release

## Add specific files
!LessPaper.APIGateway.sln
!LessPaper.APIGateway/LessPaper.APIGateway.csproj
!LessPaper.APIGateway.UnitTest/LessPaper.APIGateway.UnitTest.csproj
!/**/*.cs

!LessPaper.APIGateway/Properties/launchSettings.json
!LessPaper.APIGateway/appsettings.Development.json
!LessPaper.APIGateway/appsettings.json

!LessPaper.APIGateway/Dockerfile
!LessPaper.APIGateway/docker-compose.yml
!LessPaper.APIGateway/Minio_mc/Dockerfile
!LessPaper.APIGateway/Minio_mc/endpoint.sh

!LessPaper.APIGateway/TestCertificates/private.key
!LessPaper.APIGateway/TestCertificates/public.crt
!LessPaper.APIGateway/TestCertificates/public.pem